/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/* TBH everything from line 18 on is Mr. Perry Warner :D */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.container {
  margin: 0 auto;
  /* max-width: 1280px; */
  width: 100%;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  /* opacity: .4; */
  padding: 0;
  max-height: 90%;
  width: 50%;
  margin: auto;
  overflow-y: hidden !important;
  /* border-radius: 2px; */
  will-change: top, opacity;
  font-size: 100%;
}

.page-footer{
  background-image: url("../Resources/PillsHackUMass.png");
  background-position: center;
}

#map {
  
  /* height: 400px; */
  /* width: 400px; prefer it to be like this for the future, when we put the maps in popups*/
  height: 100%;
  width: 100%;
  background-color: grey;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.btn {
  width: 100%;
}

/* #logo-container {
  font-size: 100%;
} */

#needADoctor {
  width: 50%;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

h5 {
  color: #ff9800;
}