/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.container {
  margin: 0 auto;
  /* max-width: 1280px; */
  width: 100%;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  /* opacity: .4; */
  padding: 0;
  max-height: 90%;
  width: 50%;
  margin: auto;
  overflow-y: auto;
  /* border-radius: 2px; */
  will-change: top, opacity;
  font-size: 100%;
}

.page-footer{
  background-image: url("../Resources/PillsHackUMass.png");
  background-position: center;
}

#map {
  height: 400px;
  width: 100%;
  background-color: grey;
}
